.container{
  text-align: center;
}
.showInput{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  margin: 2rem auto;
}
.buttons{
  display: flex;
  justify-content: center;
  column-gap: 2rem;
  margin: 1rem 0rem;
}
.password{
  text-align: center;
}

